<div *ngIf="wishes.length === 0; else showItems">
  There ar no wishes to display.
</div>

<ng-template #showItems>
  <ul class="wish-list">
    <li *ngFor="let item of wishes; index as indx">
      <div class="form-check">
        <label for="form-check-label">
          <input
            class="checkbox"
            type="checkbox"
            [checked]="item.isComplete"
            [attr.data-index]="indx"
            (click)="toggleItem(item)"
          />
          {{ item.wishText }}
        </label>
      </div>
    </li>
  </ul>
</ng-template>
